<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(to right, #28a745, #218838);
            margin: 0;
            padding: 20px;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        h1 {
            font-weight: 700;
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: left;
            margin-top: 10px;
        }

        li {
            margin: 10px 0;
            font-size: 18px;
        }

        form {
            margin-top: 20px;
            align-self: flex-end;
        }

        input[type="submit"] {
            background: linear-gradient(to right, #dc3545, #c82333);
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 25px;
            padding: 12px 20px;
            font-size: 16px;
            transition: transform 0.2s, box-shadow 0.2s;
            margin-right: 10px;
        }

        input[type="submit"]:hover {
            transform: scale(1.05);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <h1>Perfil de Usuario</h1>
    <ul>
        <li>ID: <%= user.id %></li>
        <li>Nombre: <%= user.nombre %></li>
        <li>Correo: <%= user.correo %></li>
        <!-- Otros detalles del perfil -->
    </ul>

    <!-- Botones adicionales -->
    <form action="/agregar_resena.html" method="GET">
        <input type="submit" value="Registrar Rese침a">
    </form>

    <form action="/agregar_cine.html" method="GET">
        <input type="submit" value="Registrar Cine">
    </form>

    <!-- Bot칩n para cerrar sesi칩n -->
    <form action="/logout" method="GET">
        <input type="submit" value="Cerrar sesi칩n">
    </form>
</body>
</html>



